$config-typography-400-path: "/public/fonts/NettoPro.otf";
$config-typography-700-path: "/public/fonts/NettoProBold.otf";

$config-icons-path-eot: "/fonts/CDSIcons.eot";
$config-icons-path-ttf: "/fonts/CDSIcons.ttf";
$config-icons-path-woff: "/fonts/CDSIcons.woff";
$config-icons-path-svg: "/fonts/CDSIcons.svg";

@import '@circutor/ui/scss/common/cds-bundle.scss';


* {
    box-sizing: border-box;
    font-family: "NettoPro";
  }
  strong{
    font-family: "NettoPro-Bold";
  }
  html {
    height: 100%;
  }
  body {
    //TEMPORAL
    background-color: var(--cds-color-background-deep);
  }

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    display: none;
  }