$config-typography-400-path: "/fonts/NettoPro.otf";
$config-typography-700-path: "/fonts/NettoProBold.otf";

$config-icons-path-eot: "~@circutor/ui/cdsicons/CDSIcons.eot";
$config-icons-path-ttf: "~@circutor/ui/cdsicons/CDSIcons.ttf";
$config-icons-path-woff: "~@circutor/ui/cdsicons/CDSIcons.woff";
$config-icons-path-svg: "~@circutor/ui/cdsicons/CDSIcons.svg";

@import "@circutor/ui/scss/common/cds-bundle.scss";

* {
  box-sizing: border-box;
  font-family: "NettoPro";
}

strong {
  font-family: "NettoPro-Bold";
}
html {
  height: 100%;
}
body {
  //TEMPORAL
  background-color: var(--cds-color-background-deep);
  height: 100%;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  display: none;
}
