@import "@circutor/ui/scss/01-settings/_cds-variables.scss";

.wks-layout-temp {
  margin: 70px $cds-spacing-100 $cds-spacing-0 $cds-spacing-100;
  box-sizing: border-box;
  background-color: var(--cds-color-background-default);
  height: calc(100vh - 70px);
}

.wks-alarm {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__main {
    display: flex;
    flex-direction: column;
    padding: $cds-spacing-100 $cds-spacing-100 $cds-spacing-0;
    &__preheader {
      .cds-button {
        padding: $cds-spacing-0;
      }
    }
    &__header {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      border-bottom: solid 1px var(--cds-color-border-default);
      padding-bottom: $cds-spacing-100;
      &__highlights {
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: $cds-spacing-50;
      }
      &__title {
        h2 {
          font-size: 32px;
          font-family: "NettoPro-Bold";
        }
      }
      &__actions {
        display: flex;
        gap: $cds-spacing-50;
        .cds-button {
          padding: 0.5rem;
          &__text {
            display: none;
          }
        }
      }
      &__content {
        padding-top: $cds-spacing-100;
      }
    }
    &__content {
      padding-top: $cds-spacing-100;
      padding-bottom: $cds-spacing-100;
      overflow: auto;
    }
  }
  &__sidebar {
    display: flex;
    flex-direction: column;
    gap: $cds-spacing-0;
    &__header {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: $cds-spacing-0;
      h5 {
        padding: $cds-spacing-0 $cds-spacing-100;
        margin: $cds-spacing-0;
      }
    }
  }
}

.wks-avatar {
  min-width: $cds-spacing-150;
  min-height: $cds-spacing-150;
  border-radius: $cds-spacing-150;
  font-size: $cds-spacing-50;
  display: flex;
  align-items: center;
  justify-content: center;
  &--color-info {
    background-color: var(--cds-color-feedback-info-strong);
    color: var(--cds-color-text-inverted);
  }
  &--color-error {
    background-color: var(--cds-color-feedback-error-strong);
    color: var(--cds-color-text-inverted);
  }
  &--color-success {
    background-color: var(--cds-color-feedback-success-strong);
    color: var(--cds-color-text-inverted);
  }
}

.wks-events {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: $cds-spacing-0 $cds-spacing-100;
  overflow: auto;

  &__event {
    max-width: 240px;
    &__status {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-top: $cds-spacing-100;
      &::after {
        content: "";
        width: 100%;
        height: 2px;
        display: block;
        background-color: var(--cds-color-background-deep);
      }
    }
    &__content {
      width: calc(100% - $cds-spacing-150);
      padding: $cds-spacing-50;
      &__title {
        width: 100%;
        font-size: 1$cds-spacing-50;
        font-weight: bold;
        margin-bottom: $cds-spacing-50;
        overflow: hidden;
        text-wrap: nowrap;
        text-overflow: ellipsis;
      }
      &__date {
        color: var(--cds-color-text-muted);
        font-size: 14;
      }
      &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;

        color: var(--cds-color-text-muted);
        font-size: 14;
      }
    }
    &:last-child {
      .wks-events__event__status {
        &::after {
          background-color: transparent;
        }
      }
    }
  }
}

.wks-tag-ghost {
  display: flex;
  align-items: center;
  color: var(--cds-color-text-muted);
}

@media screen and (min-width: 768px) {
  .wks-alarm {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    gap: $cds-spacing-100;
    &__main {
      &__header {
        &__actions {
          .cds-button {
            padding: 0.5rem 1rem;
            &__text {
              display: block;
            }
          }
        }
      }
    }
    &__sidebar {
      max-width: 300px;
      padding: $cds-spacing-150 $cds-spacing-50 $cds-spacing-0;
      gap: $cds-spacing-50;
    }
  }

  .wks-events {
    flex-direction: column;
    &__event {
      max-width: 240px;
      display: flex;
      &__status {
        flex-direction: column;
        margin-top: $cds-spacing-0;
        &::after {
          content: "";
          width: 2px;
          height: 100%;
        }
      }
      &__content {
        padding: $cds-spacing-0 $cds-spacing-50 $cds-spacing-100;
      }
    }
  }
}

.content.small {
  background-attachment: fixed;
}

.content {
  &.small {
    background-attachment: fixed;
  }
}

.content {
  .small {
    background-attachment: fixed;
  }
}

.content {
  &--small {
    background-attachment: fixed;
  }
}
